// html{
//     font-size: 3rem;
// }
.body{
    width: fit-content;
    height: 100%;
    border: 1px solid black;
    div.task{
        border: none;
        border-bottom: 1px solid;
        height: 2rem;
      
    }
}

div.task input[type="text"]{
    border: none;
}
