/**
--------------------
HEADER
--------------------
*/
h1, h2, h3 {
  font-family: "Ubuntu", serif;
}

p, li, a {
  font-family: "Open Sans Condensed", sans-serif;
}

html {
  background-color: #f1f7db;
  border-radius: 10px;
}

@media only screen and (min-width: 64em) {
  header, main {
    display: block;
    margin: 0 auto;
    max-width: 1024px;
  }
}

.header {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 64em) {
  .header {
    display: block;
  }
}

.logo-block {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 64em) {
  .logo-block {
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
  }
}
.logo-block h1 {
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
}
@media only screen and (min-width: 64em) {
  .logo-block h1 {
    font-size: 2rem;
    text-align: start;
  }
}

.logo {
  width: 200px;
  padding: 10px;
}
@media only screen and (min-width: 64em) {
  .logo {
    width: 80px;
    padding: 0;
  }
}

@media only screen and (min-width: 64em) {
  .hero {
    display: flex;
  }
}

.background {
  width: 100%;
  content: url("https://github.com/sayyr1/WDD-330/blob/main/Final%20Project/src/airport_background.png?raw=true");
  animation: hero 4s alternate forwards;
}

form.search {
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  display: grid;
  align-items: center;
  column-gap: 20px;
  font-size: 4rem;
  justify-items: center;
  margin-top: 5rem;
}

@media only screen and (min-width: 64em) {
  .search-block {
    display: flex;
    flex-direction: row;
    padding: 0 15rem;
  }
}

#search {
  height: 10rem;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 7px 20px 1px #1e5f90;
}
@media only screen and (min-width: 32rem) {
  #search {
    height: 7rem;
    width: 100%;
  }
}
@media only screen and (min-width: 64em) {
  #search {
    height: 4rem;
    width: fit-content;
  }
}

.input-label {
  border-radius: 20px;
  padding-left: 2rem;
}
@media only screen and (min-width: 64em) {
  .input-label {
    padding: 0 3rem;
    display: block;
    width: 75%;
    font-size: 1.8rem;
  }
}

#submit {
  width: 13rem;
  height: 7rem;
  border-radius: 20px;
  box-shadow: 5px 7px 20px 1px #1e5f90;
  font-size: 4rem;
  background-color: #1e5f90;
  color: #f1f7db;
}
@media only screen and (min-width: 64em) {
  #submit {
    height: 4rem;
    font-size: 2rem;
    width: max-content;
  }
}

#search-label {
  align-self: flex-start;
  margin-top: 7px;
}
@media only screen and (min-width: 64em) {
  #search-label {
    margin-top: -10px;
  }
}

/**
  -------------
  FOOTER
  ---------------
*/
.about {
  margin-top: 12rem;
  display: block;
  background-color: #0a1004;
  height: 5rem;
  max-width: 100%;
  color: #ffff;
  text-align: center;
}
@media only screen and (min-width: 32rem) {
  .about {
    margin-top: 5rem;
  }
}
.about p {
  font-size: 2.2rem;
  padding: 1rem 4rem;
}

/*
------------------------
DISPLAY CARDS (Information)
------------------------
*/
.display {
  color: #ffff;
  display: block;
  margin: 5rem auto 0 auto;
  width: 90%;
  background-color: #1e5f90;
  border: 1px solid #f1f7db;
  box-shadow: 4px 7px 20px 0 #000000b3;
}
@media only screen and (min-width: 64em) {
  .display {
    display: grid;
  }
}
.display h2 {
  font-size: 2.3rem;
  color: #1e5f90;
  padding: 2rem;
  text-align: left;
  background-color: #f1f7db;
  width: fit-content;
  box-shadow: 4px 7px 20px 0 #000000b3;
}
@media only screen and (min-width: 64em) {
  .display h2 {
    font-size: 2rem;
    width: auto;
    text-align: center;
    margin-top: 0;
  }
}
.display ul li {
  list-style-type: none;
}

.display ul li:nth-of-type(1) {
  text-align: center;
}
@media only screen and (min-width: 32rem) {
  .display ul li:nth-of-type(1) {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 64em) {
  .display ul li:nth-of-type(1) {
    font-size: 2.5rem;
  }
}
.display ul li:nth-of-type(2), .display ul li:nth-of-type(3), .display ul li:nth-of-type(4), .display ul li:nth-of-type(5) {
  display: flex;
  width: 100%;
  margin: auto 0;
  align-items: center;
}
@media only screen and (min-width: 32rem) {
  .display ul li:nth-of-type(2), .display ul li:nth-of-type(3), .display ul li:nth-of-type(4), .display ul li:nth-of-type(5), .display ul a {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 64em) {
  .display ul li:nth-of-type(2), .display ul li:nth-of-type(3), .display ul li:nth-of-type(4), .display ul li:nth-of-type(5), .display ul a {
    font-size: 1.5rem;
  }
}
.display ul li:nth-of-type(2):before {
  content: url("https://github.com/sayyr1/WDD-330/blob/main/Final%20Project/src/location.png?raw=true");
}
.display ul li:nth-of-type(3):before {
  content: url("https://github.com/sayyr1/WDD-330/blob/main/Final%20Project/src/phone.png?raw=true");
}
.display ul li:nth-of-type(4):before {
  content: url("https://github.com/sayyr1/WDD-330/blob/main/Final%20Project/src/postal-code.png?raw=true");
}
.display ul li:nth-of-type(5):before {
  content: url("/Final Project/src/internet.png");
  background-color: white;
  padding-top: 20px;
  border-radius: 31px;
}

@media only screen and (min-width: 64em) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/*-------------------------------------
FOR THE LINK OF THE AIRPORT  INFORMATION
----------------------------------------
 */
ul li a {
  color: #ffff;
}

span.hl {
  background-color: #0a0b0d;
  color: white;
}

/*
---------------------------
FOR THE LIST
---------------------------
*/
.suggestion, .last-search {
  overflow-y: auto;
  height: 20rem;
  width: 100%;
  display: block;
  margin: 0 auto;
  justify-content: center;
}

.data-list {
  font-weight: 600;
  background-color: #ffff;
  cursor: pointer;
  list-style-type: none;
  font-size: 3rem;
  border: 1px solid #f1f7db;
  display: block;
  margin-left: 41px;
  padding: 1rem;
}
@media only screen and (min-width: 64em) {
  .data-list {
    width: 20rem;
    font-size: 19px;
    margin-left: 22px;
  }
  .data-list:nth-of-type(odd) {
    background-color: rgba(176, 168, 168, 0.35);
  }
}

.data-list:hover {
  box-shadow: -40px 23px 0px 9px rgba(0, 0, 0, 0);
  background-color: gray;
}

.last-search {
  overflow-y: auto;
  height: 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
}
.last-search li {
  font-size: 2.5rem;
}

.last-search li {
  cursor: pointer;
}

.hola {
  margin-top: -20rem;
}

div.last-title {
  font-size: 3rem;
  padding: 20px;
  color: darkred;
}
@media only screen and (min-width: 64em) {
  div.last-title {
    font-size: 2rem;
  }
}

div.items-saved {
  border-bottom: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: fit-content;
  font-weight: 600;
  background-color: #ffff;
  cursor: pointer;
  list-style-type: none;
  font-size: 3rem;
  padding: 1rem;
}
@media only screen and (min-width: 64em) {
  div.items-saved {
    width: 20rem;
    font-size: 19px;
    margin-left: 22px;
  }
}
@media only screen and (min-width: 64em) {
  div.items-saved li.saved-items {
    font-size: 23px;
  }
}

button#last-delete {
  align-items: flex-start;
  width: 10rem;
  font-size: 44px;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
}
@media only screen and (min-width: 64em) {
  button#last-delete {
    font-size: 20px;
    width: fit-content;
  }
}

/*
------------------------
          FOOTER
-------------------------
 */
@media only screen and (min-width: 64em) {
  footer div.about p {
    font-size: 1.5rem;
  }
}

/*
---------------------------
KEYFRAMES for Animation
---------------------------
*/
@keyframes hero {
  0% {
    opacity: 0;
    transform: translateX(-100);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-50);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes background {
  0% {
    opacity: 0;
    transform: translateX(-100);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    margin-top: -45rem;
  }
}

/*# sourceMappingURL=main.css.map */
