@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Odibee+Sans&display=swap");
html {
  font-family: 'Nunito', sans-serif;
  background-color: white;
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Odibee Sans', cursive;
  color: #dd6316;
  -webkit-box-shadow: 0px -1px 6px 1px #a87070;
          box-shadow: 0px -1px 6px 1px #a87070;
  font-size: 2rem;
  background-color: #f8f8f8;
}

@media only screen and (min-width: 64em) {
  header h1 {
    font-size: 3rem;
  }
}

header h2 {
  text-align: left;
  font-size: 2.5rem;
}

@media only screen and (min-width: 64em) {
  header h2 {
    font-size: 1.2rem;
    margin-left: 10px;
  }
}

body {
  display: block;
}

@media only screen and (min-width: 64em) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

div.todoContainer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: #b6636373;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 7px 5px 2px #cfd9e1;
          box-shadow: 5px 7px 5px 2px #cfd9e1;
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

div.task {
  background-color: #d5cbdb;
  font-size: 3rem;
  width: 60rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 9px;
}

@media only screen and (min-width: 64em) {
  div.task {
    width: 20rem;
    width: 23rem;
    font-size: 1.5rem;
    height: 2.2rem;
  }
}

[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

input.check {
  margin-top: 13px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

@media only screen and (min-width: 64em) {
  input.check {
    width: 25px;
    margin-top: -1px;
  }
}

.buttons {
  border: none;
  outline: none;
  padding: 7px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 3px;
}

.buttons:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button.eliminate {
  margin-top: 5px;
  font-size: 3rem;
  width: 4rem;
  height: 3.5rem;
  border-radius: 2rem;
  border: none;
}

@media only screen and (min-width: 64em) {
  button.eliminate {
    width: 36px;
    height: 34px;
    font-size: 1.6rem;
    margin-top: 0;
  }
}

button.eliminate:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  background-color: #b6636373;
}

/* Style the active class (and buttons on mouse-over) */
.active,
.buttons:hover {
  background-color: #666;
  color: white;
}

/*Footer*/
footer button {
  font-size: 1.5rem;
}

@media only screen and (min-width: 64em) {
  footer button {
    font-size: 1rem;
  }
}

form#adding-form {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6px 0 6px 10px;
}

form#adding-form input#enter {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: none;
  font-size: 2rem;
}

@media only screen and (min-width: 64em) {
  form#adding-form input#enter {
    font-size: 1rem;
  }
}

form#adding-form input#ad {
  width: 15%;
  padding: 7px;
  border-radius: 3px;
  border: none;
  margin: 0px 10px 0 9px;
  font-size: 2rem;
}

@media only screen and (min-width: 64em) {
  form#adding-form input#ad {
    font-size: 1rem;
  }
}

form#adding-form input#ad:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #b6636373;
}

#list-count {
  font-size: 2rem;
}

@media only screen and (min-width: 64em) {
  #list-count {
    font-size: 1rem;
  }
}

label {
  margin-top: 2px;
}
/*# sourceMappingURL=main.css.map */